.container{
    text-align: center;
}
button
{  
 background-color:white;  
 width: 8%;  
 height: 60px;  
 font-size: 20px;  
 border: 1px solid ;  
}
button:hover
{  
  background-color: lightblue;
}
input
{
width: 25%;  
height: 30px;
padding: 10px;
text-align: right;
margin-top: 1%;  
}
.input
{
	font-size: 40px;

}